<% include partials/header.ejs %>



    <section class="container">
        <div class="w-75 h-75 p-3 mx-auto" style="background-color: #eee;">
            <div class="card">
                 <img class="card-img-top" src="<%=blog.image%>" alt="">
                 <div class="card-body">
                        <h5 class="card-title"><%=blog.title%>/h5>
                         <p class="card-text"> <%=blog.text%></p>
                         <p> Created By: <em> <%=blog.author.username%> </em> </p>
                          <% if (currentUser && currentUser._id.equals(blog.author.id)){%>
                                 <form action="/blogs/<%=blog._id%>?_method=DELETE" method="POST" class="d-inline">
                                           <button  class="btn btn-outline-danger btn-sm" >DELETE </button>
                                     </form>
                                 <a href="/blogs/<%=blog._id%>/edit" class="btn btn-outline-success btn-sm">UPDATE</a>
                          <% } %>
                        <a href="/blogs/<%=blog._id%>/comments/new" class="btn btn-outline-success btn-sm">ADD COMMENT</a>
                </div>
            </div>
        </div>
             
    </section>
    <section class="container">
        <div class="w-75 h-75 p-3 mx-auto" style="background-color: #eee;">
            <div>
                <% blog.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong class="mt-2"><%= comment.author.username %></strong>
                            <span class="pull-right">10 days ago</span>
                            <p>
                                <%= comment.text %> 
                            </p>
                           <% if (currentUser && currentUser._id.equals(comment.author.id)){%>
                             <div class="mb-4">
                                <form action="/blogs/<%=blog._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST" class="d-inline">
                                     <button  class="btn btn-outline-danger btn-sm" >DELETE </button>
                                 </form>
                                 <a href="/blogs/<%=blog._id%>/comments/<%=comment._id%>/edit" class="btn btn-outline-success btn-sm">UPDATE</a>
                              </div>
                           <% } %>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
             
    </section>
    


<% include partials/footer.ejs %>